/* my font */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    font-family: "Oswald", sans-serif;
}

.hero .col img {
    width: 500px;
}

.about .col img {
    width: 50%;
}

section {
    padding-top: 100px;
    padding-bottom: 50px;
}

.kategori {
    background-color: rgba(0, 0, 0, 0.3);
}

footer {
    margin-top: 100px;
    padding-bottom: 50px;
}

.copyright {
    margin-top: 100px;
}

@media screen and (max-width:510px) {
    .hero .col img {
        width: 100%;
    }
}
